@model Ecoporto.CRM.Site.Models.OportunidadesAdendosViewModel
@using Ecoporto.CRM.Site.Helpers

<br />

@using (Ajax.BeginForm("CadastrarAdendos", "Oportunidades", new AjaxOptions
{
    UpdateTargetId = "ListaAdendos",
    OnSuccess = "oportunidadeMensagemSucesso",
    OnFailure = "oportunidadeMensagemErro",
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST"
}, new { id = "frmOportunidadesAdendos" }))
{
    

    @Html.HiddenFor(model => model.AdendoOportunidadeId)

    <div class="form-row">
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.TipoAdendo)
            @Html.EnumDropDownListFor(c => c.TipoAdendo, new { @class = "form-control form-control-sm", @disabled = "disabled" })
        </div>
        <div class="form-group col-md-2">
            @Html.LabelFor(model => model.StatusAdendo)
            @Html.EnumDropDownListFor(c => c.StatusAdendo, new { @class = "form-control form-control-sm", @disabled = "disabled" })
        </div>
    </div>

    <div id="pnlAdendosVendedor" class="form-row invisivel">
        <div class="form-group col-md-12">
            @Html.Partial("_AbaAdendosVendedor", Model)
        </div>
    </div>

    <div id="pnlAdendosExclusaoSubClientes" class="form-row invisivel">
        <div class="form-group col-md-12">
            @Html.Partial("_AbaAdendosExclusaoSubClientes", Model)
        </div>
    </div>

    <div id="pnlAdendosExclusaoGrupoCNPJ" class="form-row invisivel">
        <div class="form-group col-md-12">
            @Html.Partial("_AbaAdendosExclusaoGrupoCNPJ", Model)
        </div>
    </div>

    <div id="pnlAdendosFormaPagamento" class="form-row invisivel">
        <div class="form-group col-md-12">
            @Html.Partial("_AbaAdendosFormaPagamento", Model)
        </div>
    </div>

    <div id="pnlAdendosInclusaoSubClientes" class="form-row invisivel">
        <div class="form-group col-md-12">
            @Html.Partial("_AbaAdendosInclusaoSubClientes", Model)
        </div>
    </div>

    <div id="pnlAdendosInclusaoGrupoCNPJ" class="form-row invisivel">
        <div class="form-group col-md-12">
            @Html.Partial("_AbaAdendosInclusaoGrupoCNPJ", Model)
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-12">
            <div id="ListaAdendos">
                @Html.Partial("_AbaAdendosConsulta", Model.Adendos)
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="pnlAdendosHistoricoWorkflow"></div>
        </div>
    </div>
}
