@model IEnumerable<Ecoporto.CRM.Business.DTO.AnexosNotasDTO>
@using Ecoporto.CRM.Business.Extensions

<div class="table-responsive">
    <table id="tbNotas" class="table table-sm table-striped" cellspacing="0">
        <thead>
            <tr>
                <th scope="col">Nota</th>
                <th scope="col">Detalhes</th>
                <th class="td-w-10" scope="col">Usuário</th>
                <th class="td-w-15" scope="col">Data Cadastro</th>
                <th class="campo-acao">&nbsp;</th>
                <th class="campo-acao">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="item-nota-@item.Id">
                    <td>@item.Nota</td>

                    @if (item.Descricao?.Length > 50)
                    {
                        <td>@item.Descricao.Substring(1, 50) ...</td>
                    }
                    else
                    {
                        <td>@item.Descricao</td>
                    }

                    <td>@item.CriadoPor</td>
                    <td>@item.DataCriacao.DataHoraFormatada()</td>
                    <td class="campo-acao"><a href="#" onclick="visualizarNota(@item.Id)" class="btn btn-info btn-sm btn-acao"><i class="fa fa-search"></i>&nbsp;Visualizar</a></td>
                    <td class="campo-acao"><a href="#" onclick="excluirNota(@item.Id)" class="btn btn-danger btn-sm btn-acao"><i class="fa fa-trash"></i>&nbsp;Excluir</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>