@model Ecoporto.CRM.Site.Models.MercadoriaViewModel
@using Ecoporto.CRM.Site.Helpers

@{
    ViewBag.Title = "Atualizar Mercadoria";
}

<section class="content-header">
    <h1>
        Gerenciamento de Mercadorias
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <i class="fa fa-home"></i>Home
            </a>
        </li>
        <li>
            <a href="#">Mercadorias</a>
        </li>
        <li class="active">Atualizar Mercadoria</li>
    </ol>
</section>

<div class="row">
    <div class="col-md-12">

        @using (Html.BeginForm())
        {
            

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.ValidarFormulario(ViewContext.ViewData.ModelState, true)
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <i class="fa fa-edit fa-lg"></i>
                    Detalhes da Mercadoria
                    <div class="float-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">

                    @Html.HiddenFor(model => model.Id)

                    <div class="row">
                        <div class="form-group col-md-10">
                            @Html.LabelFor(model => model.Descricao)
                            @Html.PrivilegedEditorFor(model => model.Descricao, "form-control form-control-sm")
                        </div>
                        <div class="form-group col-md-2">
                            @Html.LabelFor(model => model.Status)
                            @Html.PrivilegedEnumDropDownListFor(c => c.Status, "form-control form-control-sm")
                        </div>
                    </div>

                </div>

                <div class="card-footer">
                    <div class="float-left">
                        <p>
                            <a href="@Url.Action("Index", "Mercadorias")" class="btn btn-secondary btn-sm">Retornar</a>
                        </p>
                    </div>
                    <div class="float-right">
                        <p>
                            <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
                        </p>
                    </div>
                </div>

            </div>

        }
    </div>

</div>
