@model Ecoporto.CRM.Site.Models.SolicitacaoComercialMotivosViewModel
@using Ecoporto.CRM.Site.Helpers

@{
    ViewBag.Title = "Cadastrar Motivos Solicitação";
}

<section class="content-header">
    <h1>
        Gerenciamento de Solicitações (Motivos)
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <i class="fa fa-home"></i>Home
            </a>
        </li>
        <li>
            <a href="#">Cadastros</a>
        </li>
        <li class="active">Atualizar Motivo (Solicitação)</li>
    </ol>
</section>

<div class="row">
    <div class="col-md-12">

        @using (Html.BeginForm("Atualizar", "Motivos", FormMethod.Post))
        {
            
            @Html.HiddenFor(model => model.Id)

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.ValidarFormulario(ViewContext.ViewData.ModelState, true)
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <i class="fa fa-edit fa-lg"></i>
                    Detalhes do Motivo da Solicitação
                    <div class="float-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Descricao)
                            @Html.PrivilegedEditorFor(model => model.Descricao, "form-control form-control-sm")
                        </div>
                        <div class="form-group col-md-1">
                            @Html.LabelFor(model => model.Status)
                            @Html.PrivilegedEnumDropDownListFor(c => c.Status, "form-control form-control-sm")
                        </div>
                        <div class="form-group col-md-7">
                            <label>Tipo</label>
                            <div>
                                <div class="form-check form-check-inline">
                                    @Html.PrivilegedCheckBoxFor(model => model.CancelamentoNF, "form-check-input")
                                    @Html.LabelFor(model => model.CancelamentoNF, new { @class = "form-check-label" })
                                </div>
                                <div class="form-check form-check-inline">
                                    @Html.PrivilegedCheckBoxFor(model => model.Desconto, "form-check-input")
                                    @Html.LabelFor(model => model.Desconto, new { @class = "form-check-label" })
                                </div>
                                <div class="form-check form-check-inline">
                                    @Html.PrivilegedCheckBoxFor(model => model.Restituicao, "form-check-input")
                                    @Html.LabelFor(model => model.Restituicao, new { @class = "form-check-label" })
                                </div>
                                <div class="form-check form-check-inline">
                                    @Html.PrivilegedCheckBoxFor(model => model.ProrrogacaoBoleto, "form-check-input")
                                    @Html.LabelFor(model => model.ProrrogacaoBoleto, new { @class = "form-check-label" })
                                </div>
                                <div class="form-check form-check-inline">
                                    @Html.PrivilegedCheckBoxFor(model => model.Outros, "form-check-input")
                                    @Html.LabelFor(model => model.Outros, new { @class = "form-check-label" })
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="card-footer">
                    <div class="float-left">
                        <p>
                            <a href="@Url.Action("Cadastrar", "Motivos")" class="btn btn-secondary btn-sm">Retornar</a>
                        </p>
                    </div>
                    <div class="float-right">
                        <p>
                            <button type="submit" class="btn btn-primary btn-sm">Atualizar</button>
                        </p>
                    </div>
                </div>

            </div>

        }
    </div>

</div>

@Html.Partial("_ModalExclusao")

@section Scripts{

    <script>

        function excluirMotivo(id) {
            $('#modal-mensagem').text('Confirma a exclusão do motivo?');
            $('#del-modal').data('id', id).modal('show');
        }

        function confirmarExclusao() {

            var _url = '@Url.Action("Excluir")';
            var _id = $('#del-modal').data('id');

            $.post(_url, { id: _id })
                .done(function (data) {
                    toastr.success('Motivo excluído com sucesso!', 'CRM');
                    $('#item-' + _id).remove();
                }).fail(function (data) {
                    if (data.statusText) {
                        toastr.error(data.statusText, 'CRM');
                    } else {
                        toastr.error('O registro não pode ser excluído', 'CRM');
                    }
                }).always(function () {
                    $('#del-modal').data('id', '0').modal('hide');
                });
        }

    </script>
}
