@{
    ViewBag.Title = "Consultar Modelos";
}

<section class="content-header">
    <h1>
        Consultar Contatos
        <small>Proposta</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <i class="fa fa-home"></i>Home
            </a>
        </li>
        <li>
            <a href="#">Contatos</a>
        </li>
        <li class="active">Consultar</li>
    </ol>
</section>

<div class="card">
    <div class="card-header">
        <i class="fa fa-table fa-lg"></i>
        Contatos Cadastrados
        @if (User.IsInRole("Administrador") || User.IsInRole("Contatos:Cadastrar"))
        {
            <div class="float-right">
                <a href="@Url.Action("Cadastrar", "Contatos")" class="btn btn-primary btn-sm btn-novo"><i class="fa fa-edit"></i>&nbsp;Cadastrar Contato</a>
            </div>
        }
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="datatables" class="table table-hover table-sm" cellspacing="0">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Sobrenome</th>
                        <th scope="col">Email</th>
                        <th scope="col">Departamento</th>
                        <th scope="col">Status</th>
                        <th class="campo-acao">&nbsp;</th>
                        <th class="campo-acao">&nbsp;</th>
                        <th class="campo-acao">&nbsp;</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

</div>

@Html.Partial("_ModalExclusao")

@section Css{
    @Styles.Render("~/bundles/datatablesCSS")
}

@section Scripts{

    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/datatables")

    <script>

         function excluir(id) {
            $('#modal-mensagem').text('Confirma a exclusão do Contato?');
            $('#del-modal').data('id', id).modal('show');
        }

        function confirmarExclusao() {

            var _url = '@Url.Action("Excluir")';
            console.log(_url);
            var _id = $('#del-modal').data('id');

            $.post(_url, { id: _id })
                .done(function (data) {
                    toastr.success('Contato excluído com sucesso!', 'CRM');
                    $('#item-' + _id).remove();
                }).fail(function () {
                    toastr.error('O registro não pode ser excluído', 'CRM');
                }).always(function () {
                    $('#del-modal').data('id', '0').modal('hide');
                });
        }

        $(document).ready(function () {
            $('#datatables').DataTable({
                "bServerSide": true,
                "sAjaxSource": "@Url.Action("Consultar", "Contatos")",
                "bProcessing": true,
                "pagingType": "full_numbers",
                "searchDelay": 1000,
                "pageLength": 50,
                "createdRow": function (row, data, dataIndex) {
                    $(row).attr('id', 'item-' + data.Id);
                },
                "aoColumns":
                    [
                        {
                            "sName": "Id",
                            "mData": "Id"
                        },
                        {
                            "sName": "Nome",
                            "mData": "Nome"
                        },
                        {
                            "sName": "Sobrenome",
                            "mData": "Sobrenome"
                        },
                        {
                            "sName": "Email",
                            "mData": "Email"
                        },
                        {
                            "sName": "Departamento",
                            "mData": "Departamento"
                        },
                        {
                            "sName": "Status",
                            "render": function (data, type, row) {
                                return row.Status === 1 ? '<span class="badge badge-success">Ativo</span>' : '<span class="badge badge-danger">Inativo</span>';
                            }
                        },
                        {
                            sortable: false,
                            "render": function (data, type, row) {
                                return '<a href="@Url.Action("Atualizar","Contatos")/' + row.Id + '" class="btn btn-info btn-sm btn-acao"><i class="fa fa-edit"></i></a>';
                            },
                            "visible": @(User.IsInRole("Administrador") || User.IsInRole("Contatos:Atualizar") ? "true" : "false")
                        },
                        {
                            sortable: false,
                            "render": function (data, type, row) {
                                return '<a href="#" onclick="excluir(' + row.Id + ')" class="btn btn-danger btn-sm btn-acao"><i class="fa fa-trash"></i></a>';
                            },
                            "visible": @(User.IsInRole("Administrador") || User.IsInRole("Contatos:Excluir") ? "true" : "false")
                        },
                        {
                            sortable: false,
                            "render": function (data, type, row) {
                                return '<a href="@Url.Action("Timeline", "Auditoria")?objeto=Contatos&chave=' + row.Id +'" class="btn btn-secondary btn-sm btn-acao"><i class="fa fa-clock"></i></a>';
                            },
                            "visible": @(User.IsInRole("Administrador") || User.IsInRole("Contatos:Logs") ? "true" : "false")
                        }
                    ],
                "language": {
                    "url": "@Url.Content("~/Content/plugins/datatables/language/pt-br.json")"
                }
            });
        });

    </script>
}
