@model Ecoporto.CRM.Site.Models.LayoutViewModel
@using Ecoporto.CRM.Site.Helpers

@{
    ViewBag.Title = "Atualizar Layout";
}

<section class="content-header">
    <h1>
        @(Model.LayoutProposta ? "Atualizar Layout da Proposta" : "Atualizar Layout")
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <i class="fa fa-home"></i>Home
            </a>
        </li>
        <li>
            <a href="#">Layouts</a>
        </li>
        <li class="active">Atualizar Layout</li>
    </ol>
</section>


<div class="row">
    <div class="col-md-12">

        @using (Ajax.BeginForm("Atualizar", "Layouts",
       new AjaxOptions
       {
           OnSuccess = "LayoutAtualizado",
           OnFailure = "LayoutComErros",
           HttpMethod = "POST"
       }, new { id = "frmLayout" }))
        {


            <div class="card">
                <div class="card-header">
                    <i class="fa fa-edit fa-lg"></i>
                    Detalhes do Layout
                    <div class="float-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">

                    <div id="msgErro" class="invisivel alert alert-danger" role="alert"></div>
                    <div id="msgSucesso" class="invisivel alert alert-success" role="alert">Layout atualizado com sucesso!</div>

                    <div class="row">
                        <div class="col-md-12">

                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.ModeloId)
                            @Html.HiddenFor(model => model.LayoutProposta)
                            @Html.HiddenFor(model => model.OportunidadeId)

                            <div id="pnlCabecalho">
                                @Html.Partial("_Cabecalho", Model)
                            </div>

                            <div id="pnlCondicaoInicial" class="invisivel">
                                @Html.Partial("_CondicoesIniciais", Model)
                            </div>

                            <div id="pnlArm" class="invisivel">
                                @Html.Partial("_Armazenagem", Model)
                            </div>

                            <div id="pnlArmMinimo" class="invisivel">
                                @Html.Partial("_ArmazenagemMinimo", Model)
                            </div>

                            <div id="pnlArmCIF" class="invisivel">
                                @Html.Partial("_ArmazenagemCIF", Model)
                            </div>

                            <div id="pnlArmMinimoCIF" class="invisivel">
                                @Html.Partial("_ArmazenagemMinimoCIF", Model)
                            </div>

                            <div id="pnlArmAllIn" class="invisivel">
                                @Html.Partial("_ArmazenagemAllIn", Model)
                            </div>

                            <div id="pnlServicoParaMargem" class="invisivel">
                                @Html.Partial("_ServicoPorMargem", Model)
                            </div>

                            <div id="pnlMinimoPorMargem" class="invisivel">
                                @Html.Partial("_MinimoPorMargem", Model)
                            </div>

                            <div id="pnlServMecanicoManual" class="invisivel">
                                @Html.Partial("_ServicoMecanicaManual", Model)
                            </div>

                            <div id="pnlMinMecanicoManual" class="invisivel">
                                @Html.Partial("_MinimoMecanicaManual", Model)
                            </div>

                            <div id="pnlServicoLiberacao" class="invisivel">
                                @Html.Partial("_ServicoLiberacao", Model)
                            </div>

                            <div id="pnlServicoHubPort" class="invisivel">
                                @Html.Partial("_ServicoHubPort", Model)
                            </div>

                            <div id="pnlGerais" class="invisivel">
                                @Html.Partial("_ServicosGerais", Model)
                            </div>

                            <div id="pnlMinimoGerais" class="invisivel">
                                @Html.Partial("_MinimoGerais", Model)
                            </div>

                            <div id="pnlCondicaoGeral" class="invisivel">
                                @Html.Partial("_CondicoesGerais", Model)
                            </div>

                            <div id="pnlPeriodoPadrao" class="invisivel">
                                @Html.Partial("_PeriodoPadrao", Model)
                            </div>

                        </div>

                    </div>

                </div>

                <div class="card-footer">
                    <div class="float-left">
                        <p>
                            <a href="#" id="close-window" class="btn btn-secondary btn-sm">Fechar</a>
                        </p>
                    </div>
                    <div class="float-right">
                        <p>
                            <button type="submit" class="btn btn-primary btn-sm">Atualizar Layout</button>
                        </p>
                    </div>
                </div>

            </div>

        }
    </div>

</div>

@Html.Partial("_CadastrarFaixasPeso", Model.FaixasPesoViewModel)
@Html.Partial("_CadastrarFaixasCIF", Model.FaixasCIFViewModel)
@Html.Partial("_CadastrarFaixasBL", Model.FaixasBLViewModel)
@Html.Partial("_CadastrarFaixasVolume", Model.FaixasVolumeViewModel)

@section Scripts{

    <script src="~/Content/plugins/ckeditor/ckeditor.js"></script>

    @Scripts.Render("~/bundles/layouts")

    <script>

        var tipo = $("#TipoRegistro").val();

        if (isNumero(tipo))
            montarCampos(tipo);

        document.getElementById("close-window").addEventListener("click", function () {
            window.close();
        });

        $(document).ready(function () {

            var tipoCargaArmazenagem = $('#TipoCargaArmazenagem').val();

            if (parseInt(tipoCargaArmazenagem) === 1) {
                $('#pnlArmCntr20, #pnlArmCntr40').removeClass('invisivel');
                $('#pnlArmCarga').addClass('invisivel');
            } else if (parseInt(tipoCargaArmazenagem) === 2) {
                $('#pnlArmCntr20, #pnlArmCntr40').addClass('invisivel');
                $('#pnlArmCarga').removeClass('invisivel');
            }

            var tipoCargaArmazenagemMinimo = $('#TipoCargaArmazenagemMinimo').val();

            if (parseInt(tipoCargaArmazenagemMinimo) == 1) {
                $('#pnlArmMinCntr20, #pnlArmMinCntr40').removeClass('invisivel');
                $('#pnlArmMinCarga').addClass('invisivel');
            } else if (parseInt(tipoCargaArmazenagemMinimo) == 2) {
                $('#pnlArmMinCntr20, #pnlArmMinCntr40').addClass('invisivel');
                $('#pnlArmMinCarga').removeClass('invisivel');
            }
        });
    </script>
}